@import "tailwindcss";

@theme {
  --color-primary: #26a69a;
}

body {
  @apply bg-[#0b0e14] text-white overflow-hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
